@import "tailwindcss";

@theme {
  --color-dark-blue: #103975;
  --color-mid-blue: #1C3E75;
  --color-light-blue: #2F6EB5;
  --color-gold: #F2B633;
  --color-cream-bg: #FBEEDA;
  --color-review-bg: #1F4681;
  --font-museo: 'MuseoModerno', sans-serif;


   --breakpoint-xxs: 320px;  /* Smallest screens (like iPhone SE) */
  --breakpoint-xs: 410px;   /* Below 410px for your cramped hero section */
  --breakpoint-sm: 640px;   /* Default Tailwind small */
  --breakpoint-md: 768px;   /* Default medium */
  --breakpoint-lg: 1024px;  /* Default large */
  --breakpoint-xl: 1280px;  /* Default extra-large */
  --breakpoint-2xl: 1536px; /* Default 2XL */
}

body, html {
  overflow-x: hidden;
}


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-museo);
}

.text-stroke {
    color: white; /* Fallback text color */
    -webkit-text-stroke: 1px black; /* Border thickness & color */
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.footer-divider {
  background-color: rgba(156, 163, 175, 0.25); /* tailwind gray-400/40 */
}